<h2>Matches Positivos (Sim)</h2>
<ul>
    <li th:each="decisao : ${listaSim}">
        ID: <span th:text="${decisao.id}"></span>,
        Perfil Alvo: <span th:text="${apelidosAlvo[decisao.perfilAlvoId]}"></span>,
        Match: <span th:text="${decisao.deuMatch}"></span>
    </li>
</ul>

<h2>Matches Negativos (Não)</h2>
<ul>
    <li th:each="decisao : ${listaNao}">
        ID: <span th:text="${decisao.id}"></span>,
        Perfil Alvo: <span th:text="${apelidosAlvo[decisao.perfilAlvoId]}"></span>,
        Match: <span th:text="${decisao.deuMatch}"></span>
    </li>
</ul>
